<div class="container mt-5">
  <%= form_with(model: article, local: true, class: "needs-validation") do |form| %>
    <% if article.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h4>
        <ul>
          <% article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :context, class: "form-label" %>
      <%= form.text_area :context, class: "form-control", rows: 5 %>
    </div>

    <div class="actions">
      <%= form.submit nil, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
